.container.container-bookmark {
    transform: none;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
}

.container.container-bookmark span {
    font-size: 1.5rem;
    color: var(--dark-cyan);
}

.container.container-bookmark button {
    font-size: 1.2rem;
    display: block;
    margin: 1rem auto 0;
    width: 8rem;
    padding: 1rem;
    background-color: var(--moderate-cyan);
}