.card-style {
    margin-top: 2rem;
    padding: 1.8rem;
    border: 1.5px solid rgba(192,192,192, .5);
    border-radius: .5rem;
}

.card-title h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    text-align: left;
}

.card-style h2 {
    font-size: 1rem;
    text-align: left;
    color: var(--moderate-cyan);
}

.card-style p {
    text-align: left;
    line-height: 1.6rem;
    margin-top: 2rem;
}

#flex2 {
    display: flex;
    gap: .5rem;
}

.num-left {
    display: inline;
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
}

.num-left + p {
    font-size: 1.1rem;
}

.card-style button {
    margin-top: 1.5rem;
    width: 70%;
    padding: 1rem;
    max-width: 11rem;
    max-height: 3rem;
}


@media (min-width: 660px) {
    .card-title {
        display: flex;
        justify-content: space-between;
    }

    #flex1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.no-stock {
    opacity: .5;
}

.no-stock button {
    background-color: var(--gray-text);
}

.no-stock button:active {
    background-color: var(--gray-text);
}