hr {
    width: 30%;
    height: 1px;
    max-width: 5.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: hsla(0, 0%, 48%, .3);
    border-width: 0px;

}

.numbers {
    color: black;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: -.5rem;
    text-align: center;
}

.numbers2 {
    margin-top: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
  }

@media (min-width: 660px) {
    #container-stats {
        padding: 2rem 3rem;
    }

    hr {
        width: 1px;
        height: 4rem;
        border-width: 0px;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr .5fr 1fr .5fr 1fr;
    }  
  } 